*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol{
    margin: 0;
    padding: 0;
}
a,
a:hover{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background: #fff;
}
.title{
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    font-size: 35px;
    color: #ed4f2e;
    margin-bottom: 20px;
}
.subtitle{
    max-width: 540px;
    margin: 0 auto 32px;
    text-align: center;
    font-size: 14px;
    color: #1f2c33;
    line-height: 20px;
    position: relative;
}
.subtitle:after{
    content: "";
    display: inline-block;
    width: 134px;
    height: 2px;
    background: #d7d7d7;
    position: absolute;
    bottom: -28px;
    left: 50%;
    transform: translateX(-50%);
}
.bg-light{
    background: #fff !important;
}
.navbar{
    padding: 36px 50px;
    position: fixed !important;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 3px 17px rgba(0,0,0,0.2);
}
.navbar-brand{
    padding: 0;
}
.navbar .nav-link{
    text-transform: uppercase;
    font-size: 14px;
    color: #1f2c33 !important;
    padding: 10px 16px;
    border-radius: 5px;
}
.navbar .nav-link:hover{
    background: rgba(189, 199, 211, 0.4);
}
.navbar .active .nav-link{
    background: #ef4729;
    color: #fff !important;
}
.header{
    padding: 278px 0 261px;
    background: url("../images/header_bg.jpg") no-repeat center center;
    background-size: cover;
}
h1{
    max-width: 915px;
    margin: 0 auto 29px;
    font-size: 50px;
    line-height: 64px;
}
header p{
    max-width: 560px;
    margin: 0 auto 36px;
    font-size: 14px;
}
header a{
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    padding: 20px 49px;
    border: 2px solid #fff;
    border-radius: 10px;
    display: inline-block;
    transition: .6s;
}
header a:hover{
    background: #fff;
    color: #ed4f2e;
}
.services{
    padding: 100px 0;
}
.services .subtitle{
    margin-bottom: 30px;
}
.services .fa{
    font-size: 60px;
}
.services h3{
    font-size: 25px;
    color: #1f2c33;
    margin: 19px 0 12px;
}
.services p{
    font-size: 14px;
    color: #4f4f4f;
    line-height: 21px;
}
.services .col-lg-4:hover h3{
    color: #ed4f2e;
}
.services .col-lg-4{
    margin-top: 115px;
}
.pricing-card{
    padding: 30px 0 55px;
    border: 1px solid #ebebeb;
    transition: .6s;
}
.rate{
    font-weight: 600;
    font-size: 24px;
    color: #1f2c33;
    margin-bottom: 30px;
}
.cost{
    font-weight: 600;
    font-size: 45px;
    color: #1f2c33;
    padding: 28px 0;
    background: #ebebeb;
    margin-bottom: 54px;
    transition: .6s;
}
.cost span{
    font-weight: 400;
    font-size: 24px;
}
.pricing{
    padding: 100px 0;
}
.pricing-card ul{
    font-size: 14px;
    color: #4f4f4f;
    line-height: 31px;
    margin-bottom: 49px;
}
.pricing-card a{
    display: inline-block;
    font-size: 14px;
    color: #fff;
    background: #ed4f2e;
    padding: 11px 24px;
    border-radius: 5px;
    border: 1px solid #ed4f2e;
    transition: 0.6s;
}
.pricing-card a:hover{
    background: #fff;
    color: #ed4f2e;
}
.pricing-card:hover{
    border-color: #ed4f2e;
}
.pricing-card:hover .cost{
    background: #ed4f2e;
    color: #fff;
}
.project{
    padding-top: 100px;
}
.project .col-lg-4,
.contact .col-xl-12{
    margin-bottom: 30px;
}
.contact{
    padding-top: 70px;
}
.subtitle{
    margin-bottom: 130px;
}
.text-input,
.contact textarea{
    width: 100%;
    height: 74px;
    border-radius: 9px;
    border: 1px solid #ccc;
    padding-left: 19px;
    font-size: 14px;
    color: #1f2c33;
}
.contact input:focus,
.contact textarea:focus{
    outline: none;
}
.text-input::placeholder,
.contact textarea::placeholder{
    color: #1f2c33;
}
.contact .col-lg-6{
    margin-bottom: 30px;
}
.contact textarea{
    height: 283px;
    padding-top: 26px;
    resize: none;
}
.btn-input{
    border: 1px solid #ed4f2e;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    background: #ef4729;
    border-radius: 5px;
    padding: 14px 43px;
    transition: .6s;
}
.btn-input:hover{
    background: #fff;
    color: #ed4f2e;
}
footer{
    padding: 88px 0;
    background: #1f2c33;
}
footer h4{
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.footer-logo{
    margin-bottom: 13px;
    display: inline-block;
}
.footer-text,
.address{
    font-size: 14px;
    color: #a3b1bf;
    line-height: 22px;
}
.footer-address{
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.address .fa{
    width: 15px;
}
.footer-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-gallery img{
    width: 49%;
    margin-bottom: 6px;
}
footer form{
    margin: 22px 0;
    display: flex;
}
footer input[type="text"]{
    height: 40px;
    border-radius: 3px 0 0 3px;
    border: none;
    outline: none;
    padding-left: 11px;
    background: #404b51;
    font-weight: 300;
    font-size: 14px;
    color: #a3b1bf;
}
footer input[type="text"]::placeholder{
    color: #a3b1bf;
}

footer input[type="submit"]{
    outline: none;
    border-radius: 3px;
    margin-left: -3px;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    background: #ed4f2e;
    padding: 0 8px;
    text-transform: uppercase;
    border: 2px solid #ed4f2e;
    transition: .6s ease;
}
footer input[type="submit"]:hover{
    background: #fff;
    color: #ed4f2e;
}
.footer-social{
    display: flex;
    justify-content: space-between;
}
.footer-social a{
    width: 42px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.copy{
    padding: 37px 0;
    background: #283645;
    font-size: 14px;
    color: #fff;
}
.top{
    width: 50px;
    height: 50px;
    z-index: 2000;
    position: fixed;
    bottom: 50px;
    right: 50px;
    background: #e73815;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
    display: none;
}
.top img{
    width: 100%;
    height: 100%;
    filter: invert(100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.top:hover{
    background: #ed4f2e;
}